<%- include("partials/header.ejs") %>

<img class="profile" src="images/abhi3.png" alt=" profile"> 
<br><br>
<p>Welcome to My Portfolio</p>
<p>
            Hello! I'm Abhijeet Chavan, a passionate and enthusiastic last-year computer science student at Guru Gobind Singh College, Nashik. I have a strong interest in web development and enjoy creating beautiful, user-friendly websites that leave a positive impact.
            
            Feel free to explore my projects, learn about my skills, and get in touch with me. Let's connect and collaborate on exciting web development opportunities!
            </p>
 
  <%- include("partials/footer.ejs") %>
  <!DOCTYPE html>
<html lang="en" dir="ltr">

