
    


<%- include("partials/header.ejs") %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{
        color: black;
    }
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .project-header {
      background-image: url('project-header.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      text-align:justify;
      padding: 10px 0;
    }
    .project-details {
      padding: 50px 0;
      background-color: #fff;
   
      
    }
    .profile-img {
      max-width: 65%;
      height: auto;
    }
 
    
  </style>


<section class="project-header">
  <div  class="container col-lg-10">
    <h1>Personal website</h1>
    <p>Create an interactive and informative personal website designed to showcase my learning journey and educational pursuits. 
</p>
  </div>
</section>

<section class="project-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="images/profile.png" alt="Project Image" class="profile-img">
      </div>
      <div class=" col-md-6">
        
        <h2 >Project Overview</h2>
        
        <p>The personal learning website is a hub for documenting my educational journey and sharing valuable insights with the online community. 
        
        </p>
        <br> <br>
        <h3>Key Features</h3>
        <ul>
          Animation: <br>
          Visual Design: <br>
          Responsive Design: <br>
        </ul>

    </div>
   
   <br>
        <div class="col-md-6">
            <br>
            <a href="https://abhijchavan.github.io/Personalwebsite1/">Visit Project</a>
        <h3>Technologies Used</h3>
        <p>HTML, CSS, Bootstrap, etc </p>
    </div>
      </div>
    </div>
  </div>
</section>




<section class="project-header">
    <div class="container col-10">
      <h1>Ting Dog</h1>
      <p>Create a fun and playful website called "TinDog" that provides a platform for dog lovers to connect, find, and set up dog playdates.</p>
    </div>
  </section>
  
  <section class="project-details">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="images/Tindog.png" alt="TinDog Image" class="profile-img ">
        </div>
        <div class="col-md-6">
          <h2>Project Overview</h2>
          <p>TinDog is a website built using HTML, CSS, and possibly some JavaScript for interactive elements.
              The website features an attractive landing page, dog profiles , and a contact section for users interested in setting up playdates.</p>
          <br><br>
          <h3>Key Features</h3>
          <ul>
            Detailed Profiles: <br>
           
            Fun and Playful Design: <br>
            User Registration and Profiles: <br>
        </ul>
       
        
        </div>
    </div>
  </div><br>
  <div class="col-6">
    <a href="https://abhijchavan.github.io/Tindog/">Visit Project</a>
    <br>
    <br>
    <h3>Technologies Used</h3>
    <p>HTML, CSS, JavaScript, Bootstrap, etc.</p>
  

   
  </div>

</div>
  
  </section>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include("partials/footer.ejs") %>
